<div class="bg-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-2">
                <h2 class="mb-4 text-weight-bold">SC4</h2>
                <p class="m-0">
                    <a href="https://gitlab.com/alputri/presistant-2.0" class="text-white">Gitlab</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-muted">© Copyright 2018 SC4 - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>