<nav class="navbar navbar-expand-md navbar-light fixed-top bg-primary">
    <div class="container"><a class="navbar-brand text-light" href="{% url 'core:index' %}">
        <i class="fa d-inline fa-lg fa-circle-o"></i>
        <b> PreSistant</b>
    </a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar5">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar5">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav ml-auto">
            </ul>
            <a class="btn btn-secondary navbar-btn ml-md-2" href="{% url 'core:index' %}">Tambah Acara</a>
        </div>
    </div>
</nav>