<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <div class="py-5 bg-aquamarine">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-4 mb-4 text-center display-4 text-light text-weight-bold"><b>Tambahkan Acara</b></h1>
                </div>
            </div>
            <div class="col-lg-6 mx-auto row p-4 bg-light animate-in-down event-form-box" style="">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="input-append" method="POST" action="{% url 'core:sched_result' %}">
                                {%  csrf_token %}
                                <input type="hidden" name="count" id="count" value="1">

                                <div id="field">

                                    <div class="form-group" id="name1" ><label>Nama Acara</label> <input type="text" name="name1"
                                                                                                         class="form-control"
                                                                                                         placeholder="Masukkan nama acara">
                                    </div>
                                    <div class="form-group" id="loc1"><label>Lokasi Acara</label> <input type="text" name="loc1"
                                                                                                           class="form-control"
                                                                                                           placeholder="Masukkan lokasi acara">
                                    </div>
                                    <div class="form-group" id="day1"><label>Hari Acara</label><select name="day1" class="form-control">
                                        <option value="Senin">Senin</option>
                                        <option value="Selasa">Selasa</option>
                                        <option value="Rabu">Rabu</option>
                                        <option value="Kamis">Kamis</option>
                                        <option value="Jumat">Jumat</option>
                                    </select></div>
                                    <div class="form-group" id="time1"><label>Waktu Acara</label>
                                        <select
                                            name="time1" class="form-control">
                                            <option value="10">10.00 - 11.00</option>
                                            <option value="11">11.00 - 12.00</option>
                                            <option value="12">12.00 - 13.00</option>
                                            <option value="13">13.00 - 14.00</option>
                                            <option value="14">14.00 - 15.00</option>
                                            <option value="15">15.00 - 16.00</option>
                                            <option value="16">16.00 - 17.00</option>
                                        </select></div>



                                    <button type="button" class="btn mt-4 btn-block p-2 btn-outline-secondary add-more">
                                        <b>Tambah
                                            Acara</b></button>

                                    <hr class="mt-4 mb-4">

                                    <button type="submit" class="btn mt-4 btn-block p-2 btn-primary"><b>Submit Acara</b>
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}