<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <div class="py-5 bg-aquamarine">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-4 mb-4 text-center display-4 text-light text-weight-bold"><b>Presiden</b></h1>
                </div>
            </div>
            <div class="col-lg-12 mx-auto row p-4 bg-light animate-in-down event-form-box" style="">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead class="thead-dark">

                        <tr>
                            <th>Hari</th>
                            <th>Jam</th>
                            <th>Nama Acara</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for x in president %}
                            <tr>
                                <td>{{ x.day }}</td>
                                <td>{{ x.startTime }}</td>
                                <td>{{ x.name }}</td>
                            </tr>
                            <tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-4 mb-4 text-center display-4 text-light text-weight-bold"><b>Wakil Presiden</b></h1>
                </div>
            </div>
            <div class="col-lg-12 mx-auto row p-4 bg-light animate-in-down event-form-box" style="">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead class="thead-dark">
                        <tr>
                            <th>Hari</th>
                            <th>Jam</th>
                            <th>Nama Acara</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in vice_president %}
                            <tr>
                                <td>{{ x.day }}</td>
                                <td>{{ x.startTime }}</td>
                                <td>{{ x.name }}</td>
                            </tr>
                            <tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}