{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>Masukkan Acara - PreSistant</title>
    <meta name="description" content="Free Bootstrap 4 Pingendo Aquamarine template for restaurant and food">
    <meta name="keywords" content="Pingendo restaurant food aquamarine free template bootstrap 4">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'css/aquamarine.css' %}" type="text/css">
    <!-- Script: Make my navbar transparent when the document is scrolled to top -->
    <script src="{% static 'js/navbar-ontop.js' %}"></script>
    <!-- Script: Animated entrance -->
    <script src="{% static 'js/animate-in.js' %}"></script>

</head>

<body>
<header>
    {% include "partials/header.html" %}
</header>
<content>
    {% block content %}
        <!-- content goes here -->
    {% endblock %}
</content>
</body>
<footer>
    {% block footer %}
        {% include "partials/footer.html" %}
    {% endblock %}
</footer>
<!-- JavaScript dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"></script>
<script src = "{% static 'js/smooth-scroll.js' %}" ></script>
<script src="{% static 'js/dynamic_form.js' %}"></script>
</html>